!offset = 5px
!image_size = 12px

th
  :padding-left  = !offset
  :padding-right = !offset

td
  :padding-left  = !offset
  :padding-right = !offset

table
  :margin 5px

body
  :padding 0px 0
  :margin 0px 0

#pinup_girl
  :background-image url("graphics/pin-up_girl.png")
  :width 289px
  :height 338px
  :position absolute
  :left 730px
  :top 210px
  :margin 0
  :margin-left auto
  :margin-right auto

#generated
  :text-align right

.five_kills
  :background url("graphics/krize.jpg") center center no-repeat
  :width 12px
  :height 12px

.ten_kills
  :background url("graphics/spade.jpg") center center no-repeat
  :width 12px
  :height 12px

.five_alive
  :background url("graphics/kary.jpg") center center no-repeat
  :width 12px
  :height 12px

.ten_alive
  :background url("graphics/heart.jpg") center center no-repeat
  :width 12px
  :height 12px

.hidden_text
  :display none

.heading
  :background url("graphics/wood_low.jpg") left top repeat
  :padding 20px 0

.content
  :background url("graphics/paper.jpg") left top repeat
  :margin-left 60px
  :margin-right auto
  :padding 0px
  :width 750px

.red_star
  :background url("graphics/red_star.jpg") center center no-repeat
  :width 12px
  :height 12px

.blue_star
  :background url("graphics/bundeswehr_kreuz.png") center center no-repeat
  :width 12px
  :height 12px